<!doctype html>
<link rel="stylesheet" href="https://cdn.webix.com/edge/webix.css" type="text/css">
<script src="https://cdn.webix.com/edge/webix.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- Webix CSS file   -->
<!-- <link rel="stylesheet" href="../static/codebase/webix.css" type="text/css"> -->
<!-- Webix JS file-->    
<!-- <script src="../static/codebase/webix.js" type="text/javascript"></script> -->
<!-- App files -->
<script src="../static/topicsTable.js" type="text/javascript"></script>
<script src="static/logic.js" type="text/javascript"></script>
<script src="../static/header.js" type="text/javascript"></script>
<script src="../static/mainMenu.js" type="text/javascript"></script>
<script src="../static/topicsMenu.js" type="text/javascript"></script>
<script src="../static/mainTable.js" type="text/javascript"></script>
<script src="../static/windowUpload.js" type="text/javascript"></script>
<script src="../static/windowFilterDate.js" type="text/javascript"></script>
<script src="../static/windowFilterDuration.js" type="text/javascript"></script>
<script src="../static/contentManager.js" type="text/javascript"></script>


<title>Hello from Flask</title>
<body>
<script type="text/javascript" charset="utf-8">
    const tableManager = new contentManager(MainTable["id"], TopicsTable["id"], MainMenu["id"], TopicsMenu["id"])
    webix.i18n.setLocale("ru-RU");
    webix.ready(function() {
        webix.ui(WindowUpload)
        webix.ui(WindowFilterDate)
        webix.ui(WindowFilterDuration)
        webix.ui({
            "rows": [Header, {
                "type": "wide",
                "cols": [MainMenu, TopicsMenu, MainTable, TopicsTable]
            }]
        });
        tableManager.showMainTable()
    })
</script>
</body>