<!doctype html>
<!-- Lib files -->
<link rel="stylesheet" href="https://cdn.webix.com/edge/webix.css" type="text/css">
<script src="https://cdn.webix.com/edge/webix.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- App files -->
<script src="static/script.js"></script>
<script src="../static/topicsTable.js" type="text/javascript"></script>
<script src="static/logic.js" type="text/javascript"></script>
<script src="../static/header.js" type="text/javascript"></script>
<script src="../static/menu.js" type="text/javascript"></script>
<script src="../static/mainTable.js" type="text/javascript"></script>
<script src="../static/windowUpload.js" type="text/javascript"></script>


<title>Hello from Flask</title>
<body>
<script type="text/javascript" charset="utf-8">
    webix.ready(function() {
        webix.ui(TopicsTable)
        webix.ui(WindowUpload)
        grida = webix.ui({
            "rows": [Header, {
                "type": "wide",
                "cols": [Menu, MainTable]
            }]
        });
    })
</script>
</body>