<!doctype html>
<!-- Lib files -->
<link rel="stylesheet" href="https://cdn.webix.com/edge/webix.css" type="text/css">
<script src="https://cdn.webix.com/edge/webix.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- App files -->
<script src="static/script.js"></script>
<script src="../static/topicsTable.js" type="text/javascript"></script>
<script src="static/logic.js" type="text/javascript"></script>
<script src="../static/header.js" type="text/javascript"></script>
<script src="../static/menu.js" type="text/javascript"></script>
<script src="../static/mainTable.js" type="text/javascript"></script>
<script src="../static/windowUpload.js" type="text/javascript"></script>


<title>Hello from Flask</title>

<!-- {% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Добавьте данные в бд</h1>
{% endif %} -->
<!-- <div id="tmpButton"
       style="border-style: dashed; padding: 5px 10px 5px 10px; margin: auto; width: fit-content;"
       onclick="addData()"><h3>Добавить данные в БД</h3></div> -->
<body>
<script type="text/javascript" charset="utf-8">
    webix.ready(function() {
        webix.ui(TopicsTable)
        webix.ui(WindowUpload)
        grida = webix.ui({
            "rows": [Header, {
                "type": "wide",
                "cols": [Menu, MainTable]
            }]
        });
    })
</script>
</body>